doctype
head
  title mi primera pagina con pug
  meta(name="viewport" content="")
  meta(charset="utf-8")
  link(rel="stylesheet", href="css/styles.css")
  style. 
    body {
        backgroud: red
       
    }
body.main#front-page 
    h1(style={color:"red", 
    "font-size": "2em"}) Bienvenidos
script(src="js/scripts.js")

    ul
      li 
        a(href="#") 
            | item 1
        ul 
            li sub item 1
            li sub item 2
        li item 2
            li sub item 1
            li sub item 2
        li item 3
            li sub item 1
            li sub item 2
        li item 4
            li sub item 1
            li sub item 2

// 
//
h1 ayer pase por la tienda y le dije al puto vendedor

if 5 > 2
    p Saca la cahuamas

else 
    p Mejor despues





